/* Provide sufficient contrast against white background */
a {
  color: #fff;
  text-decoration: none;
  transition: all .2s
}

a:hover{
  color: #fff;
}

code {
  color: #E01A76;
}
/*
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input{
  text-align: left;
}
*/
